<?xml version="1.0"?>
<ruleset name="FancyRDF">
    <description>Coding standard for FancyRDF</description>

    <!-- This must work with PHP 8.4 and above -->
    <config name="php_version" value="80400"/>

    <!-- slevomat coding standard -->
    <rule ref="Doctrine">
        <exclude name="Generic.Files.LineLength.TooLong" />
    </rule>
        

    <!-- files to be included -->
    <file>src</file>
    <file>tests</file>
    <exclude-pattern>vendor/*</exclude-pattern>

    <!-- various arguments -->
    <arg name="colors" />
    <arg value="sp" />
    <arg name="parallel" value="10" />

    <arg name="report" value="emacs" />
    <arg name="report-width" value="auto" />
</ruleset>